<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>




<%
    var result=JSON.parse(pagename);
    var finalresult="";
        for(var i = 0; i < result.length; i++) {
            var book=result[i];
            finalresult+=book.pagecontent
            %>
             

   <%      
   			console.log(book.pageid);

		}
           console.log(finalresult);
           
			



        
   %>


   <%-finalresult%>


 
</body>
</html>
